# Base URL of the API
API_URL=http://localhost:4000/api/v1
# Base URL of the S3 bucket
CDN_URL=https://fyp-fans-cdn-dev.harvestangels.co/

# If set to 1, disables non-production feature gates.
PRODUCTION_MODE=0

# OAuth2 Client IDs
GOOGLE_CLIENT_ID=
TWITTER_CLIENT_ID=
DISCORD_CLIENT_ID=

STRIPE_PUBLISHABLE_KEY=
AUTHORIZE_NET_API_LOGIN_ID=
AUTHORIZE_NET_CLIENT_KEY=

# Gem Exchange Rate
GEM_EXCHANGE_RATE=0.01

EXPO_ROUTER_IMPORT_MODE_WEB=lazy

GIPHY_API_KEY=
